
:host {
    display: flex;
    height: calc(100vh - 64px);
}

.placeholder-container {
    border: 1px solid blue;
    height: 100%;
    width: 50%;
    
    
}

exp-config-builder {
    border: 1px solid blue;
    height: 100%;
    width: 50%;

}
