

:host {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    width: 50%;
}

.list-container {
    overflow-y: scroll;
            
    .buttons {
        display: flex;
        justify-content: flex-start;
    }
    

    .list {
        border: 1px solid blue;
    }
}
