
// :host {
//     display: flex;
//     justify-content: center;
// }

* {
    border: 1px solid black;
}

.list {
    
    &-container {
        display: flex;
        flex-direction: column;
        // overflow-y: scroll;
        

    }

    .posn {
        
        &-container {
            background-color: lightblue;
            border-radius: 4px;
            margin: 4px 10px;
            
            height: 100px;
            width: 600px;
            
            // height: 100%;
            // width: 100%;



        }
    }
}