
:host {
    overflow-y: scroll;
}

exp-slim-nav-bar {
    width: 100%;
}


.gallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    &-fullscreen {
        // height: 100%;
        height: calc(100% - 22px);
        width: 100%;
    }

    &-gallery-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    &-filmstrip-container {
        height: calc(100% - 22px);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3fr 1fr;
        row-gap: 10px;

        .filmstrip {

            &-main {
                background-color: darkslateblue;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            &-container {
                background-color: darkslateblue;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                align-items: stretch;
                overflow-x: scroll;
            }

            &-strip {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                height: 100%;
                overflow-x: scroll;

                .filmstrip-chart {
                    margin: 0 4px;
                }
                
            }
        }
    }
}