
* {
    border: 1px solid black;
}

.container {
    background-color: papayawhip;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1000px 100px;

    padding: 20px;
    width: 100%;

    .vert {

        &-container {
            background-color: honeydew;
            
            
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;

            display: flex;
            flex-direction: column;
            align-items: center;

        }

        &-scrollable {
         
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            overflow-y: scroll;

            
            

        }

    }

    .horz {

        &-container {
            background-color: lightblue ;

            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            display: flex;
            align-items: center;
            justify-content: center;

            overflow-x: hidden;

        }

        &-scrollable {
            border: 1px solid blue;
         
            display: flex;
            flex-wrap:nowrap;

            overflow-x: scroll;
            

        }

    }

    .item {
        background-color: darkcyan;

        height: 260px;
        width: 160px;

    }
}