

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;

}

.title {
    font: 700 normal 16px/24px 'Arial'; 
}

.outer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    .left-container {

    

        .calc-container {
            border: 1px solid black;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
            height: 100%;

            .calc-form {
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-right: 20px;
                padding: 20px;

                // .control-container {
                //     display: flex;
                //     justify-content: flex-start;
                //     align-items: center;
                //     margin-bottom: 20px;
                //     width: 100%;

                //     label {
                //         padding-right: 5px;
                //         width: 25px;
                //         text-align: right;
                //     }

                //     input {
                //         width: 50px;
                //     }
                // }

                .button-container {
                    // border: 1px solid black;
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                }

            }

            .results-display {
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                // padding: 20px;

                .results-container {
                    // border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 20px;
                    width: 185px;
        
                    .heading {
                        align-self: center;
        
                    }
        
                    .result {
                        // border: 1px solid black;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        
                        .result-data {
                            border: 1px solid black;
                            margin-left: auto;
                            padding: 0 5px;
                            text-align: left;
                            width: 60%;

                        }
                    }
                }

                .results-container:not(:last-child) {
                    border-bottom: 1px solid black;
                }
            }
        }
        .config-container {
            // border: 1px solid black;
            // padding: 20px;
            // height: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items: stretch;
            // justify-content: flex-start;
            // width: 100%;
            // flex: 1

            .config-form {
                // border: 1px solid black;
                // padding: 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;

                .single-config-container {
                    border: 1px solid black;
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;

                    .config-label {
                        margin: 5px 0;

                    }

                    .controls-container {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;

                        .config-control-container {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 0 20px;
                            // margin-bottom: 20px;
                            // width: 100%;
                    
                            label {
                                margin: 5px 0;
                                padding-right: 5px;
                                width: 35px;
                                text-align: right;
                            }
                    
                            input {
                                width: 50px;
                            }
                        }

                    }
                }

                .config-actions {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;

                    .data-points-control {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        label {
                            margin: 0 5px;
                        }
                    }
                    
                    .config-button-container {
                        display: flex;
                        justify-content: flex-end;
                    }


                }

            }
    
        }

        .control-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
    
            label {
                padding-right: 5px;
                width: 35px;
                text-align: right;
            }
    
            input {
                width: 50px;
            }
        }

    }

    .right-container {
        border: 1px solid black;
        padding: 20px;
        height: 100%;
        // width: 100%;
        flex: 1
        
    }

    

    
}