

.settings-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .settings-row {
        display: flex;
        align-items: center;
        width: 100%;

        button {
            margin: 0 20px;
        }
    }

   

    ::ng-deep {
        .mat-form-field-wrapper {
            margin: 0;
            padding-bottom: 0;
        }

        .mat-form-field {
            font-size: 10px;
            width: 100px;
        }

        .mat-form-field-underline {
            bottom: 0;
        }
    }

}