

.chart-container {
    display: flex;
    flex-direction: column;
    // justify-content: stretch;
    // background-color: lightgrey;
    border: 1px solid blue;
    border-radius: 4px;

    .details {
        display: flex;
        justify-content: flex-start;
        
        .chart-symbol {

        
        }
        
        .chart-data {
        
        }
    }
    
}

.chart-fullscreen {
    height: 100%;
    width: 100%;

}

.chart-gallery {
    height: 240px;
    width: 360px;
}

.chart-filmstrip-main {
    height: 100%;
    width: 100%;

}

.chart-filmstrip-strip {
    height: 100%;
    width: 300px;
}
