

.chart {

    &-container {
        justify-content: stretch;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    
    }

    &-title {


    }

    &-data {
        flex: 1 0 auto;

    }
}