

.chart {

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        background-color: lightgrey;
        border: 1px solid blue;
        border-radius: 4px;
        margin: 5px;
        // height: 120px;
        // width: 300px;
        // height: 100%;
        // width: 100%;
    
    }

    &-title {


    }

    &-data {
        // flex: 1 0 auto;

    }

    &-fullscreen {
        // height: 87vh;
        // width: 90vw;
        height: 87%;
        width: 90%;

    }

    &-gallery {
        height: 240px;
        width: 360px;
    }

    &-filmstrip-main {
        // height: 60vh;
        // width: 90vw;
        height: 60%;
        width: 90%;

    }

    &-filmstrip-strip {
        height: 200px;
        width: 300px;

    }
}

