

.config-container {
    // border: 1px solid black;
    // padding: 20px;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    // justify-content: flex-start;
    // width: 100%;
    // flex: 1

    .config-form {
        // border: 1px solid black;
        // padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        .single-config-container {
            border: 1px solid black;
            // height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            .config-label {
                margin: 5px 0;

            }

            .controls-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                .config-control-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 20px;
                    // margin-bottom: 20px;
                    // width: 100%;
            
                    label {
                        margin: 5px 0;
                        padding-right: 5px;
                        width: 35px;
                        text-align: right;
                    }
            
                    input {
                        width: 50px;
                    }
                }

            }
        }

        .config-actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .data-points-control {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                label {
                    margin: 0 5px;
                }
            }
            
            .config-button-container {
                display: flex;
                justify-content: flex-end;
            }


        }

    }

}