
.analysis-nav-buttons {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    height: 20px;
    width: 100%;
    margin: 4px 0;

    .analysis-nav-button {
        color: white;
        background-color:lightslategrey;
        height: 20px;
        width: 100px;

    }

}


.config-builder-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    .config-builder-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 200px;

        .config-control {
            width: 100%;
            
        }

    }
}

