

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    .portfolio-header {
        border: 1px solid black;
        // border-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50px;
        
        .sort-button {
            border: 1px solid black;
            background-color: grey;
            color: white;
            margin: 2px 4px;
            padding: 0 4px;

        }
    }
}