@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-sidenav-container {
  height: 100%;
  overflow: hidden;

  .mat-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    align-items: flex-start;
  }

  .mat-sidenav-content {
    height: inherit;
    overflow: inherit;
  }

}


.sidenav-links {
  // color: #24292e;
  // padding: 10px 20px;
  // text-align: left;
  // text-decoration: none;
  // width: 100%;

}

.active {
  color: $angular-primary;
}
