

:host {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // height: 100px;
    width: 100%;
    padding: 4px 0 0 4px;

    .tile-container {
        border: 1px solid rgb(12, 20, 95);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;

        p {
            margin: 0;
            padding: 0;
        }

        .header-label {
            font-size: 10px;
            padding: 0 0 0 4px;
        }

        .label {
            min-width: 60px;
            font-size: 10px;
            padding: 0 0 0 8px;
        }

        .datum {
            margin: 0 auto;
            padding: 0 4px;
            font-size: 12px;
        }

        .symbol {
            padding: 0 8px;
            font-size: 14px;
            font-weight: 700;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .symbol-container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .header-buttons {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            
                .header-button {
                    border: 1px solid black;
                    background-color: grey;
                    color: white;
                    margin: 0 4px;
                    padding: 0 4px;
                    font-size: 10px;
                }
            }
        }

        .type {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(218, 218, 218);
        }

        .data {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            background-color: rgb(218, 218, 218);
            
            .data-column {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                height: 100%;
                width: 50%;

                .datum-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    
                    // .label {
                    //     width: 100px;
                    // }
                    
                    
                    // .datum {

                    //     margin: 0 auto;
                    //     padding: 0 10px;
                    // }
                }
                
            }
        }

    }

}