

.picker {

    &-container {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        // height: 500px;
        // width: 500px;
        // margin-top: 10px;
        max-height: calc(100vh - 64px);
        overflow: auto;

    }

    &-header {
        display: flex;
        justify-content: space-around;
    }

    &-row {
        display: flex;
        justify-content: space-around;
    }

    .data {

    }
}