

.picker {

    &-container {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 64px); // 64px = header height
        overflow: auto;
    }
    
    .mat-column {
        &-symbol {
            font-size: 16px;
            width: 120px;
            flex: 2;

        }
        
        &-company {
            font-size: 16px;
            width: 240px;
            flex: 4;

        }

        &-price {
            font-size: 16px;
            width: 60px;
            text-align: center;
            

        }

        &-implVolty {
            font-size: 16px;
            width: 60px;
            text-align: center;
            flex: 0 1;

        }
    }
}