

.base-container {
    display: flex;
    justify-content: flex-start;

    vz-picker-table {
        // width: 400px;
    }

    vz-carousel-viewer {
        background-color: cornflowerblue;
        border: 1px solid black;
        flex: 1 0 auto;
    }

}