
:host {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .dynamic-panel-container {
        background-color:rgb(18, 43, 43);
        
        // height: calc(100vh - 64px);     // 64px = height of top nav bar
        height: 100vh;                      // removed top nav bar
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        
        exp-chart-controls {
            width: 100%;
        }

        .base-chart-container {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            // height: calc(100vh - 128px);        // 128px = top bar (64px) + chart controls (64px) heights
            height: 100vh;                          
            // width: calc(100vw - 40px);
            width: 100vw;
            
        }

        // .tooltip {
        //     text-align: left;
        //     width: 100px;
        //     height: 100px;
        //     background: lightcyan;
        //     padding: 2px;
        //     font: 12px Helvetica, sans-serif;
        //     border: 1px solid black;
        // }
    }
    
    .spacer {
        width: 500px;
        height: 100%;
        border: 1px solid black;
        height: calc(100vh - 64px);
    }
}

