

.strikes-grid-container {
    border: 1px solid black;
    // display: flex;
    // flex-direction: column;
    // flex: 1 0 auto;
    // height: 100%;
    // width: 100%;
    // overflow-y: scroll;

    .header-row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .header-strike-cell {
            width: 70px;
            text-align: center;
            font-size: 12px;
        }

        .header-cell {
            width: 70px;
            text-align: center;
            font-size: 10px;
        }
    }

    .scroll-viewport {
        // border: 1px solid blue;
        height: 700px;
        

    }

    .row-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    
        
        
    }

    .cell {
        width: 70px;
        text-align: center;
        font-size: 12px;
    }

    .off {
        background-color: dimgrey;
    }

    .on {
        background-color: lime;
        color: black;
    }

    .strike-cell {
        width: 70px;
    }
}
