@import "~@angular/material/theming";

//$angular-primary: mat-palette($mat-teal, 500, 100, 900);
//$angular-accent: mat-palette($mat-pink, A200, A100, A400);
//$angular-warn: mat-palette($mat-red);

$angular-primary: teal;
$angular-accent: pink;
$angular-warn: red;

$header-blahblah: red;
